.App {
  text-align: center;
  margin: 2em auto;
  max-width: 1024px;
  color: whitesmoke;
  border: 5px solid white;
  font-family: 'Press Start 2P', cursive;
}

input{
  color: lightgreen;
background-color: black;
font-family: inherit;
font-size: 1.1em;
}

.error{
  color: red;
  font-size: 1em;
}

.titleComponent{
  font-size: 1.5em;
}

.container{
  display: flex;
  
}